body {
    background-color: #202725;
}

#title {
    background-color: #a0bdcc;
    color: #202725;
    overflow: hidden;
    margin-top: 0;
    padding-left: 36px;
}

ul.linked-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card {
    background-color: #2b2a2d;
}

.list-group-item {
    margin: 10px 0px;
    background-color: #2b2a2d;
    color: #D1DEDE;
}

.now-playing {
    color: #D1DEDE;
}

.main-header {
    color: #D1DEDE;
}

.now-playing-card {
    margin-left: 36px;
}
